body {
    background-color: #f0e68c;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    background-color: #f4c2c2;
    padding: 15px;
}
.links {
    text-align: right;
    background-color: #f4c2c2;
    padding: 35px;
    font-size: 25px;
}